In [3]:
#Missing Number

In [26]:
list1=[1,1,1,4]
final_result=[]
max=4
count_num=[]
count_num_freq=[]
for i in range(1,max+1):
    count_num.append(i)
    count_num_freq.append(list1.count(i))

In [28]:
print(count_num_freq)
print(count_num)

[3, 0, 0, 1]
[1, 2, 3, 4]

In [29]:
for j in range(len(list1)):
    if count_num_freq[j]>1:
        final_result.append(count_num[j])
    if count_num_freq[j]==0:
        final_result.append(count_num[j])
final_result

[1, 2, 3]

In [30]:
#SQL Query
CREATE TABLE Company(
    Project_Name varchar(255),
    Team_Size int,
    Team_Lead varchar(255),
    Income int
);

In [ ]:
INSERT INTO Company(
    Project_Name,Team_Size,Team_Lead,Income
)
VALUES('Map Reduce',100,'Jeffery Dean',0);
VALUES('Windows',1000,'Bill Gates',100500);
VALUES('Snap Chat',3,'Even Spiegel',2050);

In [ ]:
SELECT Project_Name,Team_Lead,Income FROM Company;